@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        @{
            string delete_href = "/Dict/DeleteSave";
        }
        <form method="post" action=@delete_href>
            <input type="text" name="last_name" id="last_name" placeholder="last_name" value="@ViewBag.last_name" />
            <input type="text" name="phone_number" id="phone_number" placeholder="phone_number" value="@ViewBag.phone_number" />
            <input type="submit" value="DELETE" />
        </form>

    </div>
</body>
</html>